/*****************************/
/**********GRID BODY**********/
/*****************************/
/*.body__grid{
    display: grid;
    @include grid-content($grid-body-col, $grid-body-row, $grid-body-area,center,$grid-body-rgap);
    align-items: start;
    .body__grid__hijoA{
        grid-area: body__grid__hijoA;
        align-self: center;
        @extend %medidas_ancho_alto__100;
    }
    .body__grid__hijoB{
        grid-area: body__grid__hijoB;
        align-self: center;
        @extend %medidas_ancho_alto__100;
    }
    .body__grid__hijoC{
        grid-area: body__grid__hijoC;
        align-self: center;
        @extend %medidas_ancho_alto__100;
    }
}

/***************************/
/***********HEADER**********/
/***************************/

/**********Menu de Navegacion**********/
/*.nav__grid{
    display: grid;
    @include grid-content($grid-nav-col, $grid-nav-row, $grid-nav-area,center,$grid-nav-rgap);
    align-items: start;
    .nav__grid__hijoA{
        grid-area:nav__grid__hijoA;
        @extend %medidas_ancho_alto__100;
        align-self: center;
            .nav-brand{
                img{
                    @extend %medidas_ancho_alto__100;
                }
            }
    }
    .nav__grid__hijoB{
        grid-area:nav__grid__hijoB;
        @extend %medidas_ancho_alto__100;
        align-self: center;
        .nav__menu{
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap:nowrap;
                margin-left: 0rem;
                padding-left: 0rem;
                @extend %medidas_ancho_alto__100;
                .nav__menu__item{
                padding: 15px;
                text-align: center;
                }
            }
    }
}*/

/***************************/
/********MAIN CONTENT*******/
/***************************/


/**********Grid Main de Servicios**********/
.gridServ{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas:"servHijo1 cardText1"
                        "servHijo2 cardText2"
                        "servHijo3 cardText3"
                        "servHijo4 cardText4"
                        "servHijo5 cardText5";
    justify-items: center;
    align-items: center;
    .servHijo1{
        grid-area:servHijo1;
        @extend %medidas_ancho_alto__90;
    }
    .servHijo2{
        grid-area:servHijo2;
        @extend %medidas_ancho_alto__90;;
    }
    .servHijo3{
        grid-area:servHijo3;
        @extend %medidas_ancho_alto__90;;
    }
    .servHijo4{
        grid-area:servHijo4;
        @extend %medidas_ancho_alto__90;
    }
    .servHijo5{
        grid-area:servHijo5;
        @extend %medidas_ancho_alto__90;
    }
    .cardText1{
        grid-area: cardText1;
        align-self: center;
        width: 100%;
    }
    .cardText2{
        grid-area: cardText2;
        align-self: center;
        width: 100%;
    }
    .cardText3{
        grid-area: cardText3;
        align-self: center;
        width: 100%;
    }
    .cardText4{
        grid-area: cardText4;
        align-self: center;
        width: 100%;
    }
    .cardText5{
        grid-area: cardText5;
        align-self: center;
        width: 100%;
    }
}

/***************************/
/********FORMULARIOS********/
/***************************/

/*********Form y Boton**********/
main{
    div{
        fieldset{
            border:0;
            form{
                margin: 0 auto;
                width: 65%;
                display: flex;
                flex-direction: column;
                padding: 30px;
                color: $color-blue;
                label{
                    padding-top: 10px;
                    padding-bottom: 10px;
                    text-align: left;
                    font-weight: bold;
                }
                ul{
                    text-align: justify;
                    line-height: 25px;
                    padding-left: 0;
                    list-style: none;
                }
                .btn{
                    border-radius: 3px;
                    display: inline-block;
                    padding: 20px 15px;
                    text-decoration: none;
                    text-shadow: 0 1px $color-grey-shadow;
                    box-shadow: 0 1px 1px $color-black-box;
                }
                .btnColor{
                    color: white;
                    background-color: $color-blue;
                    &:hover{
                        background-color: $color-light-blue;
                    }
                    &:active{
                        background-color: $color-light-green,
                    }
                }
            }
        }
    }
}

/*Ocultar flechas Input Number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
    -moz-appearance: textfield;
}
