
/***************************/
/********FORMULARIOS********/
/***************************/

/*********Form y Boton**********/
main{
    div{
        form{
            div{
                .label-title{
                    font-weight: bold;
                }
                label{
                    color: $color-blue;
                }
                .btn{
                    border-radius: 3px;
                    display: inline-block;
                    padding: 20px 15px;
                    text-decoration: none;
                    text-shadow: 0 1px $color-grey-shadow;
                    box-shadow: 0 1px 1px $color-black-box;
                }
                .btnColor{
                    color: white;
                    background-color: $color-blue;
                    margin-top: 1rem;
                    &:hover{
                        background-color: $color-light-blue;
                        color: white;
                    }
                    &:active{
                        background-color: $color-light-green;
                    }
                }
            }
        }
    }
}

/*Ocultar flechas Input Number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
    -moz-appearance: textfield;
}