
/***************************/
/********FORMULARIOS********/
/***************************/

/*********Form y Boton**********/
main{
    div{
        fieldset{
            border:0;
            .formulario{
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                padding: 15px;
                color: $color-blue;
                label{
                    padding-top: 10px;
                    padding-bottom: 10px;
                    text-align: left;
                    font-weight: bold;
                }
                ul{
                    text-align: justify;
                    line-height: 25px;
                    padding-left: 0;
                    list-style: none;
                }
                .btn{
                    border-radius: 3px;
                    display: inline-block;
                    padding: 20px 15px;
                    text-decoration: none;
                    text-shadow: 0 1px $color-grey-shadow;
                    box-shadow: 0 1px 1px $color-black-box;
                }
                .btnColor{
                    color: white;
                    background-color: $color-blue;
                    &:hover{
                        background-color: $color-light-blue;
                    }
                    &:active{
                        background-color: $color-light-green,
                    }
                }
            }
        }
    }
}

/*Ocultar flechas Input Number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
    -moz-appearance: textfield;
}

/***************************/
/*******MEDIAQUERIES********/
/***************************/
@media screen and (min-width: 480px) and (max-width:600px){
    /****mapas****/
    body{
        main{
            .mapa{
            max-width: 420px;
            }
            .zonas__container{
                max-width: 420px;
            }
        }
    }
    /****formularios****/
    main{
        div{
            fieldset{
                .formulario{
                    padding: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 600px) and (max-width:768px){
    /****mapas****/
    body{
        main{
            .mapa{
            max-width: 520px;
            }
            .zonas__container{
                max-width: 520px;
            }
        }
    }
    /****formularios****/
    main{
        div{
            fieldset{
                .formulario{
                    padding: 30px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width:1024px){
    /****mapas****/
    body{
        main{
            .mapa{
            max-width: 700px;
            }
            .zonas__container{
                max-width: 700px;
            }
        }
    }
    /****formularios****/
    main{
        div{
            fieldset{
                .formulario{
                    width: 70%;
                    padding: 30px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width:1200px){
    /****mapas****/
    body{
        main{
            .mapa{
            max-width: 800px;
            }
            .zonas__container{
                max-width: 800px;
            }
        }
    }
    /****formularios****/
    main{
        div{
            fieldset{
                .formulario{
                    width: 65%;
                    padding: 30px;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px){
    /****mapas****/
    body{
        main{
            #mapa{
            max-width: 900px;
            }
            .zonas__container{
                max-width: 900px;
            }
        }
    }
    /****formularios****/
    main{
        div{
            fieldset{
                .formulario{
                    width: 55%;
                    padding: 30px;
                }
            }
        }
    }
}