/**********Backgrounds**********/
$color-back:#8ee4af;
$color-back-footer: #379683;
$color-box: #edf5e1;
$color-back-card: #edf5e1;

/**********Fonts**********/
$color-blue:#184e77;
$color-light-blue:#168aad;
$color-green: #3c943c;
$color-red: #a04252;

/********Boton Form*******/
$color-grey-shadow:#ffffff4d;
$color-black-box:#0000004d;
$color-light-green:#caffbf;

/***************************/
/**********EXTENDS**********/
/***************************/

/*****Tamaño contenido******/
%medidas_ancho_alto__100{
    width: 100%;
    height: 100%;
}

%medidas_ancho_alto__90{
    width: 90%;
    height: 90%;
}

/***************************/
/**********MIXINS***********/
/***************************/
/*@mixin grid-content($temp-col, $temp-row, $temp-area, $j-items, $r-gap){
    grid-template-columns:$temp-col;
    grid-template-rows: $temp-row;
    grid-template-areas:$temp-area;
    justify-items: $j-items;
    row-gap: $r-gap;
}*/
