/**********Fonts**********/
$color-blue:#184e77;
$color-light-blue:#168aad;
$color-green: #3c943c;
$color-red: #a04252;

/********Boton Form*******/
$color-grey-shadow:#ffffff4d;
$color-black-box:#0000004d;
$color-light-green:#caffbf;

/************Grid body variables*****************/
$grid-body-col: 100%;
$grid-body-row:20% 55% 25%;
$grid-body-area:"body__grid__hijoA"
                "body__grid__hijoB"
                "body__grid__hijoC";
$grid-body-rgap:10px;

/***
$grid-body-col-s: 100%;
$grid-body-row-s:20% 55% 25%;
$grid-body-area-s:"gridA"
                "gridB"
                "gridC";
$grid-body-rgap-s:10px;

$grid-body-row-m:20% 60% 20%;
$grid-body-rgap-m:15px;

$grid-body-col-l:8% 42% 42% 8%;
$grid-body-col-l2:10% 40% 40% 10%;*/

/************Grid nav variables*****************/
$grid-nav-col: 100%;
$grid-nav-row:18% 82%;
$grid-nav-area:"nav__grid__hijoA"
                "nav__grid__hijoB";
$grid-nav-rgap:0px;

/*
$grid-nav-col-s: 100%;
$grid-nav-row-s:25% 75%;
$grid-nav-area-s:"navHijo1" "navHijo2";
$grid-nav-rgap-s:20px;

$grid-nav-rgap-m:5px;*/

/***************************/
/**********EXTENDS**********/
/***************************/

/*****Tamaño contenido******/
%medidas_ancho_alto__100{
    width: 100%;
    height: 100%;
}

%medidas_ancho_alto__90{
    width: 90%;
    height: 90%;
}

/***************************/
/**********MIXINS***********/
/***************************/
@mixin grid-content($temp-col, $temp-row, $temp-area, $j-items, $r-gap){
    grid-template-columns:$temp-col;
    grid-template-rows: $temp-row;
    grid-template-areas:$temp-area;
    justify-items: $j-items;
    row-gap: $r-gap;
}
